streamlit
langchain-core
langchain
langchain-community
langchain_groq
langchain_text_splitters
langchain-huggingface  # <-- Esta la usaremos para la API de embeddings
pypdf
chromadb
rank_bm25
supabase